.body-content {
  width: 100%;
  min-height: calc(100vh - 12vh);
  background-image: url("../images/newsletter-background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: relative;
}

.body-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  filter: blur(3px);
  z-index: 0;
}

.form-container {
  height: auto;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 8px;
}

.form-container p {
  font-size: 30px;
}

.form-container hr {
  border: none;
  height: 2px;
  background-color: #ff004f;
  width: 100%;
  margin: 10px 0;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  max-width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.input-container ul li {
  margin: 20px 0px 0px;
}

.input-container input {
  border-radius: 30px;
  width: 380px; /* This will be adjusted in the media query */
  height: 40px;
  border: 0px;
  text-indent: 20px;
}

.input-container textarea {
  height: 150px;
  width: 500px; /* This will also be adjusted */
  border: 0px;
  text-indent: 10px;
  border-radius: 30px;
  padding: 10px;
  margin-bottom: 0px;
}

button[type="submit"] {
  align-self: flex-start;
  background-color: white;
  color: var(--theme-color);
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 0px;
}

button[type="submit"]:hover {
  background-color: var(--theme-color);
  color: white;
}

/* Media Query for screens with a max-width of 520px */
@media (max-width: 520px) {
  .form-container {
    padding: 15px; /* Adjust padding for smaller screens */
  }

  .form-container p {
    font-size: 24px; /* Smaller font size */
  }

  .input-container input,
  .input-container textarea {
    width: 100%; /* Full width for inputs */
    max-width: 100%; /* Ensures responsiveness */
    margin: 0; /* Reset margin */
  }

  .input-container textarea {
    height: 100px; /* Smaller height for textarea */
  }

  button[type="submit"] {
    width: 100%; /* Full width button */
  }
}
