.footer {
    background-color: var(--nav-background-color);
    color: var(--nav-text-color);
    margin: 20px 0px 0px;
    text-align: center;
    font-family: "Poppins", serif;
    border-top: 1px solid #444;
    
}

.footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    /* flex-wrap: wrap; */
    
}

.footer-section {
    /* flex: 1; */
    padding: 20px 0px 0px;
}

.footer-bottom {
    margin-top: 30px;
    
    /* padding-top: 30px; */
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
}
